{% block nav %}
    <div
            class="container bg-indigo-500 mx-auto px-10 py-5 flex justify-between items-center"
    >
        <a href="/" class="font-bold text-5xl lg:text-4xl">
            Quizizz BackEnd
        </a>
        <div class="md:block">
        </div>
    </div>
    </div>
{% endblock %}